<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderEntry">
            <h2><span>Order Entry</span> {{orderEntry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Service Type</span></dt>
                <dd>
                    <span>{{orderEntry.serviceType}}</span>
                </dd>
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{orderEntry.transactionDate}}</span>
                </dd>
                <dt><span>Total Amount</span></dt>
                <dd>
                    <span>{{orderEntry.totalAmount}}</span>
                </dd>
                <dt><span>Payment Status</span></dt>
                <dd>
                    <span>{{orderEntry.paymentStatus}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="orderEntry.customer">
                        <a [routerLink]="['/customer', orderEntry.customer?.id, 'view']">{{orderEntry.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-entry', orderEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
